@charset "utf-8";

/* Razor1911style v1.0 */

body
{
	margin: 0px;
	padding: 0px;
	background-color: #999;
}

#header
{
	background-color: #000;
	color: #FFF;
}

#sitenav ol
{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#sitenav li
{
	display: inline;
	padding-left: 1em;
	margin-left: 1em;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000;
}

#sitenav li:first-child
{
	padding-left: 0px;
	border-left-style: none;
	margin-left: 0px;
}

#sivenav li a
{
	color: #FFF;
}

#main
{
	padding: 0px 12em 2em 2em;
	position: relative;
	background-color: #CCC;
}

#content
{
	background-color: #FFF;
}

#sidebar
{
	position: absolute;
	width: 10em;
	right: 1em;
	top: 1em;
}

#sidebar h3
{
	color: #FFFFFF;
	background-color: #000000;
}

#sidebar ol
{
	margin: 0px 0px 1em 0;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
}

#footer
{
	background-color: #FFFFFF;
}
